<nav class="my_nav"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-12">
            <form class="mt-5">
                <h1 class="text-center">‌‌‌BB-SVM System</h1>
                <div class="form-group mt-4">
                    <textarea rows="12" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-info ccc_login_button">Search My Personality</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-5 mt-5">
            <h1 class="text-center mb-5">‌‌‌BB-SVM System</h1>
            <div class="row">
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-2 col-sm-12">
                    <img class="img-fluid" src="static/src/img/Agreeableness.png">
                    <span class="text-center d-block mt-4"><span class="badge badge-info bigger_badge">Agreeableness</span></span>
                    <span class="text-center d-block mt-3 font-weight-bold"><span class="badge badge-danger my_badge">No</span></span>
                </div>
                <div class="col-md-2 col-sm-12">
                    <img class="img-fluid" src="static/src/img/Conscientiousness.png">
                    <span class="text-center d-block mt-4"><span class="badge badge-info bigger_badge">Conscientiousness</span></span>
                    <span class="text-center d-block mt-3 font-weight-bold"><span class="badge badge-success my_badge">Yes</span></span>
                </div>
                <div class="col-md-2 col-sm-12">
                    <img class="img-fluid" src="static/src/img/Extraversion.png">
                    <span class="text-center d-block mt-4"><span class="badge badge-info bigger_badge">Extraversion</span></span>
                    <span class="text-center d-block mt-3 font-weight-bold"><span class="badge badge-danger my_badge">No</span></span>
                </div>
                <div class="col-md-2 col-sm-12">
                    <img class="img-fluid" src="static/src/img/Neuroticism.png">
                    <span class="text-center d-block mt-4"><span class="badge badge-info bigger_badge">Neuroticism</span></span>
                    <span class="text-center d-block mt-3 font-weight-bold"><span class="badge badge-success my_badge">Yes</span></span>
                </div>
                <div class="col-md-2 col-sm-12">
                    <img class="img-fluid" src="static/src/img/openness.png">
                    <span class="text-center d-block mt-4"><span class="badge badge-info bigger_badge">Openness</span></span>
                    <span class="text-center d-block mt-3 font-weight-bold"><span class="badge badge-success my_badge">Yes</span></span>
                </div>
            </div>
        </div>
    </div>
</div>